@import './config.scss';


$background-color: #3e3d48;
$stat-background:#1B1A55;

.dark {
    background-color: #2b2635 !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10000;
}
.scrollable {
    height: 800px;
    overflow-x: auto;
}
.stats {
    .month {
        box-shadow: 0 0 10px 0.1px rgba(0,0,0,0.2);
        cursor: pointer;
        min-width: 100px;
        display: flex;
        padding: 0 5px;
        border-radius: 5px;
        font-family: $font-mtavruli;
        align-items: center;
        justify-content: center;
        height: 50px;
        background-color:$background-color;
        transition: 0.3s;
        color: white;
        @media screen and (max-width:1500px) {
            & {
                min-width: 50px;
                height: 30px;
                font-size: 13px;
            }
        }
        &:hover {
            background-color: rgba(0,0,0,0.1);
        }
    }
}
.content {
    padding-left: 20px;
    color: white;
    font-family: $font-mtavruli;
    padding-top: 20px;
    .title {
        color: white;
        font-size: 30px;
        font-family: $font-mtavruli;
    }
    .sum {
        color: white;
        font-family: $font-mtavruli;
    }
}


.stat {
    overflow-x: auto;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: $background-color;
}